# Ignore build artifacts.
/Build
tags/
.DS_Store
*.pyc
*.bak
BuildConfig.conf
/Conf
/.vscode

# Ignore SelfDescribingEnvironment artifacts.
*_extdep/

# Ignore cloned dependencies
/Common
/Silicon
/MU_BASECORE
_TEMP_*/
