# @file
#
# httpreq.cnf
#
# Create HTTPS certificate with Subject Alternative Names
#
# Copyright (c), Microsoft Corporation
# SPDX-License-Identifier: BSD-2-Clause-Patent
##

[req]
string_mask = nombstr
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no

[req_distinguished_name]
C = US
ST = WA
L = Redmond
O = Dfci Testing
OU = DfciRecoveryTest
CN = Dfci Test Shop

[v3_req]
keyUsage = digitalSignature, keyEncipherment
subjectKeyIdentifier=hash
subjectAltName = @alt_names
basicConstraints=critical, CA:FALSE, pathlen:0
extendedKeyUsage = serverAuth
authorityKeyIdentifier = keyid

[alt_names]
DNS.1 = localhost
DNS.2 = 192.168.1.36
